.hero {
    &__inner {
        display: grid;  
        row-gap: 40px;

        @include desktop-above {
            grid-template-columns: repeat(2, 1fr );
            align-items: center;
            gap: 0 62px;
        }
    }

    &__title {
        text-align: center;
        line-height: 1.3;

        @include fluid-text(32, 48);

        @include desktop-above {
            text-align: left;
            align-self: end;
            margin-bottom: 47px;
        }
    }

    &__action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        row-gap: 5px;

        @include desktop-above {
            display: grid;
            justify-content: start;
            text-align: center;
            align-self: start;
        }

        &-subtitle {
            font-weight: 400;
            color: var(--color-gray-alt);
            @include fluid-text(12, 13);
        }
    }
}