:root {
    --color-dark: #10151C;
    --color-dark-alt: #141A25;
    --color-dark-moving: #1A1A1A;
    --color-light: #FFFFFF;
    --color-gray: #ffffff1a;
    --color-gray-alt: #7E8597;
    --color-strawberry: #FA0369;

    --font-family: "DM Sans", sans-serif;
    --second-family: "Helvetica Neue", sans-serif;
    --third-family: "Poppins", sans-serif;

    --background-gradient: linear-gradient(180deg, #432371 0%, #faae7b 100%);
    
    --border-radius-button: 100px;
    --border-radius-large: 24px;
    --border-radius-medium: 14px;

    --transition-duration: 0.2s;

    --container-width: 1146px;
    --container-padding-x: 15px;

    --section-padding-y: 40px;
}